{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "rules": {
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-plusplus": "off"
  }
}